# Ownership per [RFC] Ownership of code and services
# https://www.notion.so/3a49109609a480c4ae38f1f5b2672675

* @climatepolicyradar/enrichment
src/cpr_sdk/search_intention_testing/ @climatepolicyradar/datascience
src/cpr_sdk/cli/search.py @climatepolicyradar/datascience
tests/search_intentions/ @climatepolicyradar/datascience
src/cpr_sdk/tools_agents/ @climatepolicyradar/datascience
src/version.py
